<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1 class="mt-4"><%= blog.title %></h1>
    <img src="<%= blog.coverImageURL %>" width="600vw" >
    <pre class="mt-4 "><%= blog.body %></pre>
    <img src="<%= blog.createdBy.profileImageURL %>" width="100vw"><%= blog.createdBy.fullName %>
    <div class="mt-3">
        <h2>Comments(<%= comments.length %>)</h2>
        <% if (locals.user) { %>
            <form action="/blog/comment/<%= blog._id %>" method="post">
                <div class="mb-3" >
                  <input type="text" name="content" class="form-control" 
                  placeholder="Enter your comment."/>
                  <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </div>
            </form>      
        <% } %>
        <div class="mt-3">
           <% comments.forEach(comment => { %>
            <img src="<%= blog.createdBy.profileImageURL %>" width="100vw"><%= blog.createdBy.fullName %>
            <pre><%= comment.content %></pre>
           <% }) %> 
        </div>
        
    </div>
    


    <%- include('./partials/scripts.ejs') %>
</body>
</html>